<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Galeria de lemusianos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div id="container">
    <ion-slides pager="true">
      <!--Paginador, puntitos debajo del carrusel-->
      <ion-slide *ngFor="let photo of photos"> <!--NG VUELVE EL CODIGO OPCIONAL-->
        <ion-card>
          <img [src]="photo.url" alt="lemu1">
          <ion-card-header>
            <ion-card-title>{{photo.name}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae deserunt culpa soluta mollitia repellat. Qui
            sint ratione, pariatur corrupti dolorem dolores suscipit recusandae, culpa quasi fuga assumenda mollitia
            repudiandae quaerat?
          </ion-card-content>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </div>
</ion-content>
